html {
  box-shadow: inset 0px 9px 15px -10px rgba(0, 0, 0, 0.46);
}

body {
  background-color: #F8F8F8;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

header {
  width: 100%;
  text-align: center;
}

header h1 {
  margin: 15px 0;
  font-family: 'Averia Sans Libre', cursive;
  color: #1A1A1A;
}

.main input[type="text"] {
  border-radius: 20px;
}

.card {
  width: 100%;
  box-sizing: border-box;
  background-color: #FFF;
  font-family: 'Duru Sans', sans-serif;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
}

.card h3 {
  font-family: 'Duru Sans', sans-serif;
  margin: 10px 0;
}

.card p {
  margin: 5px 0;
  color: #696969;
}

.card figure {
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
  width: 90px;
  height: 90px;
  overflow: hidden;
  text-align: center;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.card img {
  width: 100%;
  height: auto; 
}