body {
  background-color: #F8F8F8;
}

header {
  width: 100%;
  text-align: center;
}

header h1 {
  margin: 15px 0;
  font-family: 'Averia Sans Libre', cursive;
  color: #B9B9B9;
}

.card {
  width: 100%;
  box-sizing: border-box;
  background-color: #FFF;
  font-family: 'Duru Sans', sans-serif;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
}

.card h3 {
  font-family: 'Duru Sans', sans-serif;
  margin: 10px 0;
}

.card p {
  margin: 5px 0;
  color: #696969;
}